/Exemplo/BikeShop-Completo/BikeShop2-cliente/build/
/Exemplo/BikeShop-Completo/BikeShop2-cliente/nbproject/private/
/Exemplo/BikeShop-Completo/Bikeshop2-servidor/build/
/Exemplo/BikeShop-Completo/Bikeshop2-servidor/dist/
/Exemplo/BikeShop-Completo/Bikeshop2-servidor/nbproject/private/
